# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
dist/
build/

# misc
.DS_Store
# .env (comentado para repositório privado - facilita deploy)
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# editor
.vscode/
.idea/
*.swp
*.swo
*~

# Supabase
.supabase/

# OS
Thumbs.db
